<%= form_for [:admin, employee], html: { class: "user" } do |form| %>  
<% if employee.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

  <ul>
    <% employee.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group row">
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control rounded-0", placeholder: "First Name" %>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, class: "form-control rounded-0", placeholder: "Middle Name" %>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control rounded-0", placeholder: "Last Name" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(Employee::GENDER, selected: employee.gender), { prompt: "Select Gender" }, { class: "form-control rounded-0" } %>
  </div>

  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :marital_status %>
    <%= form.select :marital_status, options_for_select(Employee::MARITAL_STATUS, selected: employee.marital_status), { prompt: "Select Merital Status" }, { class: "form-control rounded-0" } %>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Employee::STATUS, selected: employee.status), { prompt: "Select Status" }, { class: "form-control rounded-0" } %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :blood_group %>
    <%= form.select :blood_group, options_for_select(Employee::BLOODGROUP, selected: employee.blood_group), { prompt: "Select Bloodgroup" }, { class: "form-control rounded-0" } %>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile_number, class: "form-control rounded-0", placeholder: "Mobile number" %>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :alternate_mobile_number %>
    <%= form.text_field :alternate_mobile_number, class: "form-control rounded-0", placeholder: "Alternate Mobile number" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-6 mb-3 mb-md-0">
    <%= form.label :permanent_address %>
    <%= form.text_field :permanent_address, class: "form-control rounded-0", placeholder: "Permanent address" %>
  </div>
  <div class="col-md-6 mb-3 mb-md-0">
    <%= form.label :present_address %>
    <%= form.text_field :present_address, class: "form-control rounded-0", placeholder: "Present Address" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control rounded-0", placeholder: "City" %>
  </div>
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :state %>
    <%= form.text_field :state, class: "form-control rounded-0", placeholder: "State" %>
  </div>
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :country %>
    <%= form.text_field :country, class: "form-control rounded-0", placeholder: "Country" %>
  </div>
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, class: "form-control rounded-0", placeholder: "Nationality" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth, class: "form-control rounded-0", id: "date_of_birth" %>
  </div>
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :date_of_joining %>
    <%= form.text_field :date_of_joining, class: "form-control rounded-0", id: "date_of_joining" %>
  </div>
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :probation_duration %>
    <%= form.text_field :probation_duration, class: "form-control rounded-0", placeholder: "Probation duration" %>
  </div>
  <div class="col-md-3 mb-3 mb-md-0">
    <%= form.label :confirmaton_date %>
    <%= form.date_field :confirmaton_date, class: "form-control rounded-0" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :personal_email %>
    <%= form.text_field :personal_email, class: "form-control rounded-0", placeholder: "Personal Email" %>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <%= form.label :profile_picture %><br>
    <%= form.file_field :profile_picture %>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-12 mb-3 mb-md-0">
    <%= form.label :about %>
    <%= form.text_area :about, class: "form-control rounded-0", rows: "6" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :is_international_employee %>
  <%= form.check_box :is_international_employee %>
</div>

<div class="form-group">
  <%= form.label :is_physically_challenged %>
  <%= form.check_box :is_physically_challenged %>
</div>

<div class="form-group">
  <%= form.label :is_director %>
  <%= form.check_box :is_director %>
</div>

<div class="actions">
  <%= form.submit class: "btn btn-primary" %>
  <%= link_to 'Cancel', admin_employees_path, class: "btn btn-outline-secondary" %>
</div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#date_of_birth').datetimepicker({
      format: "YYYY-MM-DD"
    });
    $('#date_of_joining').datetimepicker({
      format: "YYYY-MM-DD"
    });
  });
</script>

<style type="text/css">
  .bootstrap-datetimepicker-widget {
    background-color:#ccc !important;
  }
</style>